:root {
  /* FONT */
  --font-family-text: 'Inter';

  /* FONT-WEIGHT */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* xs */
  --font-size-xs: 12px;
  --font-line-xs: 16px;
  --font-s: var(--font-size-xs) / var(--font-line-xs) var(--font-family-text);

  /* s */
  --font-size-s: 14px;
  --font-line-s: 24px;
  --font-xm: var(--font-size-s) / var(--font-line-s) var(--font-family-text);

  /* m */
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-text);

  /* l */
  --font-size-l: 18px;
  --font-line-l: 24px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-text);

  /* xl */
  --font-size-xl: 20px;
  --font-line-xl: 36px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-text);

  /* large */
  --font-size-large: 26px;
  --font-line-large: 36px;
  --font-large: var(--font-size-large) / var(--font-line-large) var(--font-family-text);

  /* COLORS */

  /* ACCENT */
  --accent-lightest: #73a5ff;

  /* 100 */
  --accent-light: #4c8dff;

  /* 300 */
  --accent-color: #397df6;

  /* 500 */
  --accent-dark: #2f68cc;

  /* 700 */
  --accent-darkest: #234e99;

  /* 900 */

  /* SUCCESS */
  --success-lightest: #80ffbf;

  /* 100 */
  --success-light: #22e584;

  /* 300 */
  --success-color: #14cc70;

  /* 500 */
  --success-dark: #0f9954;

  /* 700 */
  --success-darkest: #0a6638;

  /* 900 */

  /* DANGER */
  --danger-lightest: #ff8099;

  /* 100 */
  --danger-light: #f23d61;

  /* 300 */
  --danger-color: #cc1439;

  /* 500 */
  --danger-dark: #990f2b;

  /* 700 */
  --danger-darkest: #660a1d;

  /* 900 */

  /* WARNING */
  --warning-lightest: #ffd073;

  /* 100 */
  --warning-light: #e5ac39;

  /* 300 */
  --warning-color: #d99000;

  /* 500 */
  --warning-dark: #960;

  /* 700 */
  --warning-darkest: #640;

  /* 900 */

  /* DARK */
  --dark-lightest: #4c4c4c;

  /* 100 */
  --dark-light: #333;

  /* 300 */
  --dark-color: #171717;

  /* 500 */
  --dark-dark: #0d0d0d;

  /* 700 */
  --dark-darkest: #000;

  /* 900 */

  /* LIGHT */
  --light-lightest: #fff;

  /* 100 */
  --light-light: #f7fbff;

  /* 300 */
  --light-color: #edf3fa;

  /* 500 */
  --light-dark: #d5dae0;

  /* 700 */
  --light-darkest: #bdc1c7;

  /* 900 */

  /* STYLES */
  --border-radius: 2px;

  /* Z-INDEX */
  --absolute-z-index: 10;
  --modal-z-index: 15;

  /* SIZES */

  /* page */
  --content-height: calc(100vh - var(--header-footer-height));

  /* header */
  --header-footer-height: 60px;

  /* sidebar */
  --sidebar-width: 220px;
}
