@forward 'variables';
@forward 'boilerplate';

// временный кусок
.main {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-darkest);
}

.flex-container {
  display: flex;
}

.content-wrapper {
  padding: 24px;
}

// конец временного куска
