.pageWrapper {
  width: 100%;
  height: var(--content-height);
  padding-right: 24px;
  padding-left: 24px;
}

.small {
  padding-top: 24px;
}

.normal {
  padding-top: 36px;
}

.hCentered {
  display: flex;
  justify-content: center;
}
