.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  padding: 0 64px 0 60px;

  color: var(--light-lightest);

  background-color: black;
  border-bottom: solid 1px var(--dark-light);
}

.appLogo {
  font: var(--font-large);
  font-weight: var(--weight-semibold);
  color: var(--light-lightest);
}

.menuContainer {
  display: flex;
  gap: 48px;
  align-items: center;
}
